<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wzc.masterblogdemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <!--注意:scheme不能使用_符号,可以使用.符号-->
                <data
                    android:scheme="wzc"/>
            </intent-filter>


        </activity>
        <activity android:name=".layoutinflator.LayoutInflaterSetFactoryActivity"/>
        <activity
            android:name=".preference.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".cachewebview.WebViewCacheActivity"/>
        <activity android:name=".cachewebview.UseCacheWebViewLibActivity"/>
        <activity android:name=".deeplink.DeepLinkActivity"/>
        <activity android:name=".difference.GetWidthDifferenceActivity"/>
        <activity android:name=".https.OkHttpHttpsActivity"/>
        <activity android:name=".constraintlayout1_1_x.ConstraintLayoutActivity"/>
        <activity android:name=".dialogfragment.MyActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".textwachter.TextWatcherActivity"/>
        <activity android:name=".canvas.WhereAreCanvasFromActivity"/>
        <activity android:name=".zoominwebviewimg.ClickZoominWebViewImgActivity"/>
        <activity android:name=".zoominwebviewimg.ImageActivity"/>
        <activity android:name=".handlerleak.HandlerLeakActivity"/>
        <activity android:name=".annotation.runtime.AnnotationActivity"/>
        <activity android:name=".annotation.compile.CompileAnnotationActivity"/>
    </application>

</manifest>